* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
#app {
    height: 100vh;
    width: 100%;
    font-family: 'Balsamiq Sans';
    font-weight: 700;
    display: flex;
    place-items: center;

    background-image: linear-gradient(to bottom, #2c3e5027,#21354980, #4ca2af3a);
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
}

.bg {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.bg img {
    height: 100vh;
    width: 100%;
    transition: all 2s cubic-bezier(0.25, 1, 0.5, 1);
    object-fit: cover;
    transform: scale(1.1);
}

.text {
    width: max(75%, 1000px);
    color: white;
    margin: 0 auto;
    text-align: center;
}

.text p {
    font-weight: 300;
    font-size: 1.5rem;
    opacity: .9;
}

.btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: .4rem;
}
.btn span {
    vertical-align: middle;
}
.btn svg {
    margin-botom: -10px;
}
.btn div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h1 {
    font-size: clamp(2rem,5vw,5rem);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    text-shadow: 10px 10px 35px rgba(0,0,0,.5);
    text-align: center;
}

.text > * {
    margin-bottom: 2rem;
}